body {
    background-color: white;
    padding: zero;
    margin: zero;
    background-image:url(./Pizza.jpg);
    background-size: cover;
    background-position: center;
  }
  
  h1 {
    background-color: #0D0D0D;  
    color: #F2594B;
    text-align: center;
    font-size: 80px;
  }
  
  p {
    font-family: sans-serif;
    font-size: 20px;
    
  }