*
{
    padding: zero;
    margin: zero;
    box-sizing: border-box;
}
body {
    background-color: white;
   
    background-image:url(./Pizza.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
  }
  
  h1 {
    
    color: black;
    text-align: center;
    font-size: 80px;
  }
  
  p {

    font-size: 40px;
    color: black;
    text-align: center;
    
  }
  .menu-bar
  {
   text-align: center;
   background: inline-flex;
   background: #0D0D0D;
  }
  .menu-bar ul {
   display: inline-flex;
   list-style:none;
   color: #F2594B;

  }

  .menu-bar ul li
  {
      width: 120px;
      margin: 15px;
      padding:15px;
      border: 2px solid #c03b2f ;
      
  }
  .menu-bar ul li a
   {
    text-decoration: none;
    color: #F2594B
   }